.vs
JobHub\bin\Debug\JobHub.exe
JobHub\obj\Debug\DesignTimeResolveAssemblyReferences.cache
JobHub\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
JobHub\obj\Debug\JobHub.csproj.AssemblyReference.cache